* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: fit-content;
  text-transform: capitalize;
  font-family: sans-serif;
}
#parent {
  width: 100%;
  margin: 0 auto;
  font-size: 2vw;
}
div.title {
  display: flex;
  align-items: baseline;
  padding: 5px;
  width: fit-content;
  color: #79490a;
}
.title h1 {
  font-family: serif;
  font-size: 4vw;
}
div.title h3 {
  color: hsla(34, 85%, 26%, 0.51);
  font-size: 2vw;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #cacfca;
}
nav .nav {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: 15px;
  justify-content: space-evenly;
}
.nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #79490a3f;
  border-radius: 5px;
}
.nav a {
  text-decoration: none;
  color: #79490a;
  text-wrap: nowrap;
}
div .home img {
  width: 100%;
  margin: 0 auto;
}
.bla {
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 20px;
  color: #a88c25e7;
  font-size: 10vw;
  font-weight: 600;
  transition: ease-in-out 1s 1s;
}
.blabla {
  color: #dcaa68;
  font-size: xx-large;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.parent {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.parent a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #79490a;
  background-color: #79490a3f;
}

.parent div img {
  width: 200px;
  height: 300px;
  border: 5px solid #79490acd;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
/* footer */
footer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #dcaa68;
  padding: 10px;
  border-top: 30px solid #a27943;
  border-bottom: 2px solid #a27943;
}
footer .parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.icon {
  width: 25px;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 20px;
}
ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
